{
	CFBundleDevelopmentRegion = "English";
	CFBundleExecutable = "DockControllerSettings";
	CFBundleIdentifier = "com.tomaszpoliszuk.dockcontroller";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundlePackageType = "BNDL";
	CFBundleShortVersionString = "1.0.0";
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	NSPrincipalClass = "DockControllerRootSettings";
}
