{
	title = "Dock Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "icons/DockController.png";
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Dock Type";
		},
		{
			cell = PSSegmentCell;
			key = "dockStyle";
			label = "dockStyle";
			default = 999;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				999,
				404,
				0,
				1,
				2,
			);
			validTitles = (
				Default,
				Disabled,
				Square,
				Rounded,
				iPad,
			);
			height = 55;
		},
		{
			cell = PSSwitchCell;
			key = "showDockBackground";
			label = "Dock Background";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = DockControllerSwitchTableCell;
			key = "allowMoreIcons";
			label = "Allow more icons in Dock";
			sublabel = "8 for iPad Dock 5 for rest of them";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
		},
		{
			cell = PSLinkCell;
			label = "iPad Dock Settings";
			detail = "PSListController";
			title = "iPad Dock Settings";
			items = (
				{
					cell = PSGroupCell;
					label = "Maximum number of Recent applications";
					footerText = "Please note that for now selecting 1 or 2 is partially broken - you will see correct number of recent apps but sometimes last used app will be that hidden icon.

I'm working on fixing this issue.";
				},
				{
					cell = PSSegmentCell;
					key = "numberOfRecents";
					default = 3;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
					validValues = (
						0,
						1,
						2,
						3,
					);
					validTitles = (
						0,
						1,
						2,
						3,
					);
					height = 55;
				},
				{
					cell = PSGroupCell;
				},
				{
					cell = PSSwitchCell;
					cellClass = DockControllerSwitchTableCell;
					key = "showInAppSwitcher";
					label = "Show in App Switcher";
					default = 1;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
				},
				{
					cell = PSSwitchCell;
					cellClass = DockControllerSwitchTableCell;
					key = "showDockDivider";
					label = "Dock Divider";
					default = 1;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
				},
				{
					cell = PSSwitchCell;
					cellClass = DockControllerSwitchTableCell;
					key = "gestureToShowDockInApps";
					label = "Gesture to show Dock in Apps";
					default = 1;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
				},
				{
					cell = PSGroupCell;
					label = "Fix icons layout on Springboard";
					footerText = "Turn on those options if you eperience incorrect icon layout on springboard and don't use any tweak that changes that layout.

Landscape fix is incompatible with homescreen widgets on iOS 14";
				},
				{
					cell = PSSwitchCell;
					cellClass = DockControllerSwitchTableCell;
					key = iPadIconsLayoutFixInPortrait;
					label = "for Portrait orientation";
					default = 1;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
				},
				{
					cell = PSSwitchCell;
					cellClass = DockControllerSwitchTableCell;
					key = iPadIconsLayoutFixInLandscape;
					label = "for Landscape orientation";
					default = 0;
					defaults = com.tomaszpoliszuk.dockcontroller;
					PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
				},
			);
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
