{
	title = "Dock Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "icons/DockController.png";
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Dock Type";
		},
		{
			cell = PSSegmentCell;
			key = "dockStyle";
			label = "dockStyle";
			default = 999;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				999,
				404,
				0,
				1,
				2,
			);
			validTitles = (
				Default,
				Disabled,
				Square,
				Rounded,
				iPad,
			);
			height = 55;
		},
		{
			cell = PSSwitchCell;
			key = "showDockBackground";
			label = "Dock Background";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = PSSubtitleSwitchTableCell;
			key = "allowMoreIcons";
			label = "Allow more icons in Dock";
			cellSubtitleText = "8 for iPad Dock 5 for rest of them";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
		},
		{
			cell = PSLinkCell;
			label = "iPad Dock Settings";
			detail = "DockControlleriPadSettings";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
