Package: com.tomaszpoliszuk.dockcontroller
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader
Name: Dock Controller
Version: 1.6.2
Architecture: iphoneos-arm
Description: Control Your Dock
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=dockcontrollerDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=dockcontrollerDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension
Icon: file:///Library/PreferenceBundles/DockControllerSettings.bundle/icons/DockController@3x.png
