{
	title = "iPad Dock Settings";
	items = (
		{
			cell = PSSwitchCell;
			cellClass = DockControllerSwitchTableCell;
			key = "showDockDivider";
			label = "Dock Divider";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "icons/DockControlleriPadDivider.png";
		},
		{
			cell = PSGroupCell;
			label = "Maximum number of Recent applications";
		},
		{
			cell = PSSegmentCell;
			key = "numberOfRecents";
			default = 3;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
				3,
			);
			validTitles = (
				0,
				1,
				2,
				3,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Fix icons layout on Springboard";
			footerText = "By default when 'iPad Dock' is enabled icons on Springboard are distributed like there is no dock anymore.
This options exists and fully supports Landscape position but if you use tweak to control icon layout it could cause unwanted effects.
In that case please disable either this option or icon layout changes in that other tweak.";
		},
		{
			cell = PSSegmentCell;
			key = "iconsLayoutFix";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
			);
			validTitles = (
				"Disabled",
				"Smaller Dock",
				"Enabled",
			);
			height = 55;
		},
	);
}
