{
	title = "Dock Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			height = 55;
			icon = "icons/DockController.png";
		},
		{
			cell = PSGroupCell;
			label = "Dock Type";
		},
		{
			cell = PSSegmentCell;
			key = "dockStyle";
			label = "dockStyle";
			default = 0;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				9,
				0,
				1,
				2,
			);
			validTitles = (
				Default,
				iPhone,
				"iPhone X",
				iPad,
			);
			height = 55;
		},
		{
			cell = PSSwitchCell;
			key = "showDockBackground";
			label = "Dock Background";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "icons/DockControllerBackground.png";
		},
		{
			cell = PSSwitchCell;
			cellClass = DockControllerSwitchTableCell;
			key = "allowMoreIcons";
			label = "Allow more icons in Dock";
			sublabel = "5 for iPhone docks, 8 for iPad Dock";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "icons/DockController5.png";
		},
		{
			cell   = PSLinkCell;
			label  = "iPad Dock Settings";
			detail = DockControlleriPadDockPreferences;
			icon = "icons/DockControlleriPad.png";
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue @ GitHub";
			action = reportIssueAtGithub;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Twitter";
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
