{
	title = "Dock Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Dock Type";
		},
		{
			cell = PSSegmentCell;
			key = "dockStyle";
			label = "dockStyle";
			default = 0;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				9,
				0,
				1,
				2,
			);
			validTitles = (
				Default,
				iPhone,
				"iPhone X",
				iPad,
			);
			height = 55;
		},
		{
			cell = PSSwitchCell;
			key = "showDockBackground";
			label = "Dock Background";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/DockControllerBackground.png";
		},
		{
			cell = PSSwitchCell;
			cellClass = DockControllerSwitchTableCell;
			key = "allowMoreIcons";
			label = "Allow more icons in Dock";
			sublabel = "5 for iPhone docks, 8 for iPad Dock";
			default = 0;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = DockControllerSwitchTableCell;
			key = "showDockDivider";
			label = "Dock Divider";
			sublabel = "'iPad Dock' only";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/DockControlleriPad.png";
		},
		{
			cell = PSGroupCell;
			label = "Maximum number of Recents (iPad Dock only)";
		},
		{
			cell = PSSegmentCell;
			key = "numberOfRecents";
			default = 3;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
				3,
			);
			validTitles = (
				0,
				1,
				2,
				3,
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Fix icons layout on Springboard (iPad Dock only)";
		},
		{
			cell = PSSegmentCell;
			key = "iconsLayoutFix";
			label = "iconsLayoutFix";
			default = 1;
			defaults = com.tomaszpoliszuk.dockcontroller;
			PostNotification = "com.tomaszpoliszuk.dockcontroller.settingschanged";
			validValues = (
				0,
				1,
				2,
			);
			validTitles = (
				"Disabled",
				"Smaller Dock",
				"Enabled",
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = sourceCode;
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue @ GitHub";
			action = reportIssueAtGithub;
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukAtGithub;
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Twitter";
			action = TomaszPoliszukAtTwitter;
			icon = "/Library/PreferenceBundles/DockControllerPreferences.bundle/icons/twitter.png";
		},
	);
}
